{
  "npmPublish": false,
  "verifyConditions": ["semantic-release-chrome", "@semantic-release/github"],
   "prepare": [
    {
      "path": "semantic-release-chrome",
      "asset": "extension.zip"
    }
  ],
  "plugins": [
      ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"type": "update", "release": "patch"}
      ],
      "parserOpts": {
        "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
      }
    }]
  ],
  "publish": [
    {
      "path": "semantic-release-chrome",
      "asset": "extension.zip",
      "extensionId": "fiaignmlhapejpdfbephokpkjnmnaapo"
    },
    {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "extension.zip"
        }
      ]
    }
  ]
}